{% extends "base.html" %}
{%block content %}
<div class="container mt-5">
	<div class="col-md-6">
		<div class="p-4 mb-4  text-center">
			<h5>Welcome {{user.name}}</h5>
			<p>This is a nice text message displayed using Bootstrap utility classes.</p>
		</div>
	</div>
</div>

<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="card text-center">
				<div class="card-body">
					<h5 class="card-title">Upload Video</h5>
					<p class="card-text">Click the button below to upload your video.</p>
					<form action="{{ url_for('upload_video') }}" method="POST" enctype="multipart/form-data">
						<input type="file" name="video" accept="video/*" required>
						<button type="submit">Upload Video</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>



{%endblock content%}